<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kitri.search.vo.SearchVO" alias="search"/>
		<typeAlias type="kitri.performinfo.boxweekly.dto.BoxWeeklyDTO" alias="box"/>
		<typeAlias type="kitri.pro.area.dto.AreaVO" alias="area"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/search.xml"/>
		<mapper resource="mapper/boxweekly.xml"/>
		<mapper resource="mapper/weather.xml"/>
	</mappers>
	<!-- JeonInGyu typeAliases update End -->

</configuration>